@charset "utf-8";
/* CSS Document */

* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}
body,
td,
th,
p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #333;
  line-height: 1.5;
}
body {
  background-color: #fdfdfd;
  margin: 0;
  position:relative;
}
ul,
li {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333;
}
a {
  color: orange;
  text-decoration: none;
}
a:hover, a:focus {
  color: #3397db;
  text-decoration: none;
}
a img{
  border: none 0px #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
header {
  width: 100%;
  background-color: #252831;
  text-align:center;
  text-transform: uppercase;
} 
header h1 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 100;
  letter-spacing: 0.4em;
  padding: 0.5em;
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
}
footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */

#breadcrumb {
    padding: 1em;
    list-style: none;
    background-color: #eee;
    margin: 0;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
    font-size: 1.2em;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
  font-size: 1.2em;
    padding: 0 0.5em 0 0;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
    padding: 0.5em;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}
/* ====================== Map ====================== */
#map, #map-details {
  height: 50vh;
  width: 100%;
  background-color: #ccc;
}
.skip-map {
  position: absolute;
  top: -50px;
  left: 0;
  background: white;
  padding: 8px;
  z-index: 1000;
  color: #754c00;
}
.skip-map:focus {
  top: 200px;

}
/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  background-color: #3397DB;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.filter-options h2 {
  color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0;
  padding: 8px 8px 0 8px;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 1em;
  height: 48px;
  max-width: 200px;
  min-width: 148px;
  letter-spacing: 0;
  margin: 8px;
  padding: 0 8px;
  width: 45%;
}

/* ====================== Restaurant Listing ====================== */

.restaurants-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #f3f3f3;
  padding: 0;
  margin: 0;
}
.restaurants-list-item {
  background-color: #fff;
  border: 2px solid #ccc;
  margin: 1em;
  max-width: calc(100% - 2em);
  font-family: Arial,sans-serif;
  list-style-type: none; 
}
.restaurants-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  width: 100%; 
  object-fit: contain;
}
.restaurants-name h2 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 1.5em;
  font-weight: 200;
  letter-spacing: 0;
  padding: 0.5em;
}
.restaurants-info {
  font-size: 1em;
  padding: 1em 1em 0 1em;
}
.restaurants-list-item a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 1em;
  padding: 0.7em;
  margin: 0 1em 1em 0;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  float: right;
}

.no-restaurants {
  font-size: 2em;
  padding: 16px;
}

/* ====================== Restaurant Details ====================== */
/*.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}*/

#info-container,
.restaurant-open {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
}

.restaurant-days {
  width: 25%;
}
.restaurant-hours {
  width: 75%;
}

#restaurant-container,
#restaurant-map-container {
  width: 100%;
}

#restaurant-container {
  margin: 1em;
}

.restaurant-name {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 2em;
  font-weight: 200;
  letter-spacing: 0;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 0.5em;
}
.restaurant-img {
  display: block;
  margin: 0;
  width: 100%; 
  object-fit: contain;
}
.restaurant-address {
  font-size: 1.2em;
}
.restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.5em;
  font-weight: 300;
  letter-spacing: 0.5em;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

#reviews-container {
  padding: 30px 40px 80px;
}
#reviews-container h2 {
  color: #f58500;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
}
#reviews-list {
  margin: 0;
  padding: 0;
}
#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  padding: 0 20px 20px;
  position: relative;
  width: 85%;
}
#reviews-list li p {
  margin: 0 0 10px;
}
#restaurant-hours td {
  color: #666;
}

@media screen and (min-width: 550px){
  .restaurants-list-item {
    max-width: calc(50% - 2em);
  }

}

@media screen and (min-width: 1367px){
  .restaurants-list-item {
    max-width: calc((100% - 8em) / 3);
  }

}

@media screen and (max-width:763px) and (orientation: landscape) {
  #map {
    display: none;
  }

}

@media screen and (min-width:768px) and (orientation: portrait) {
  #map {
    height: 30vh;
  }

}

@media screen and (min-width:600px){
  #map-details {
    height: 100%;
  }

  #restaurant-container,
  #restaurant-map-container {
    width: calc(50% - 2em);
    margin: 1em;
  }
}

@media screen and (max-width:400px){
  .restaurant-days {
    width: 35%;
  }
  .restaurant-hours {
    width: 65%;
  }
}

@media screen and (min-width:480px) and (max-width:599px){
  .restaurant-days {
    width: 20%;
  }
  .restaurant-hours {
    width: 80%;
  }
}


@media screen and (min-width:600px) and (max-width: 770px){
  .restaurant-days {
    width: 35%;
  }
  .restaurant-hours {
    width: 65%;
  }
}

@media screen and (min-width:1250px){
  .restaurant-days {
    width: 15%;
  }
  .restaurant-hours {
    width: 85%;
  }
}